*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  color: black;
  font-weight: 600;
}
.mapOfUSA {
  width: 1500px;
  height: 900px;

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
g {
  opacity: 1;
}

.country {
  fill: transparent;
}
.country-blue {
  fill: #3388ff;
}
.country-red {
  fill: #ff0000;
}
.leaflet-interactive:hover {
  fill: yellowgreen;
}
.leaflet-interactive:hover::after {
  content: "";

  width: 20px;
  height: 20px;
  position: absolute;
  background-color: teal;
  z-index: 1000000;
}

.presCandi {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.progressBar--biden-border {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px dotted navy;
}
.progressBar--trump-border {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px dotted navy;
}
.trump {
  position: relative;
  right: 17rem;
}
.biden {
  position: relative;
  left: 17rem;
}
.presPict {
  height: 150px;
  width: 150px;
  border-radius: 2000000px;
}
.presidentalCandidate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nameHeader {
  position: relative;
  text-align: center;
  font-size: 3rem;
}
.electoralPoints {
  font-size: 3rem;
  position: relative;
}
.progresBar--main {
  width: 1000px;
  display: flex;
}

.progressBar {
  width: 50%;
  height: 40px;
}

.progressBar--trump {
  float: right;
  height: 100%;
  width: 0;
  background-color: red;
}
.progressBar--biden {
  float: left;
  height: 100%;
  width: 0%;
  background-color: blue;
}

.ToWin {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
